.header {
  /* stylelint-disable */
  font-family: "Lato", sans-serif;
}

.navbar {
  background-image: none;
  background-color: #5009AF;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}

.brand, .navitem a {
  color: #fff !important;
  position: relative;
  text-decoration: none;
}

.navitem a:hover {
  color: #fff;
}

.navitem a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navitem a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
