.header {
  /* stylelint-disable */
  font-family: "Lato", sans-serif;
}

.navbar {
  background-image: none;
  background-color: #5009AF;
  border: none;
  border-radius: 0;
  color: #fff;
  margin-bottom: 0;
}

.brand, .navitem a {
  color: #fff !important;
}
