.intro {
  /* stylelint-disable */
  height: 300px;
  background: #661ACA;
  color: #fff;
  margin-top: 50px;
  padding: 40px 0;
  font-family: "Lato", sans-serif;
}

.introMessage {
  height: 70%;
  text-align: center;
}

.packemButton {
  background-color: #5009AF;
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  text-shadow: none;
  -webkit-transition: background-color 1s;
}

.packemButton:hover {
  background-color: #31046C;
  color: #fff;
}

.startShoppingBtn {
  margin-top: 20px;
  text-align: center;
}
